<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>
    Let's play a game of MadLibs!
    <div>
    <form action="/show_madlib">
      Please Select a Color: 
        <select> name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
        </select>
        <div>
      Please Select a Noun:
        <select> name="noun"
            <option value="ball">Ball</option>
            <option value="car">Car</option>
            <option value="furby">Furby</option>
        </select>
        <div>
      Please Select a Person:
        <select> name="person"
            <option value="mom">Your Mom</option>
            <option value="kara">Kara</option>
            <option value="michelle">Michelle Obama</option>
        </select>
        <div>
      Please Select a Adjective:
      <select value="adjective">
          <option value="hot">Hot</option>
          <option value="lazy">Lazy</option>
          <option value="crazy">Crazy</option>
      </select> 
      <p>
    <input type="submit" value="Submit Madlibs!">

    </form>
    </div>
</body>
</html>